@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300;500&family=Maven+Pro:wght@500&display=swap');

@import "../sass/utilities/utilidades.scss" ;

@import "../sass/pages/index" ;

@import "../sass/pages/tienda" ;

@import "../sass/pages/blog" ;

@import "../sass/pages/usuario" ;

@import "../sass/pages/destacados" ;

@import "../sass/pages/contacto" ;

@import "../sass/utilities/headerFooter" ;

/*celular*/  
  
@media only screen and (max-width: 500px) {
    .container-user {
      text-align: center;
      gap: 0%;
    
  
      p {
      margin: 0%;
      text-align: center;
      font-size: medium;
      padding-right: 3rem;
    }
  }
  
    .navbar.container {
      justify-content: center;
      width: 100%;
    }
  
    .menu {
      flex-direction: column;
      align-items: center;
    }
  
    .content-banner {
      padding: 0%;
    }
  
    .container-features {
      display: flex;
      flex-direction: column;
      text-align: center;
  
      .container-categories {
        display: flex;
        flex-direction: column;
      }
    }
  
    .container-options {
      display: flex;
      flex-direction: column;
      text-align: center;
      gap: 1rem;
      align-items: center;
  
      span {
        width: 50%;
      }
    }
  
    .customers-text {
      font-size: 30px;
    }
  
    .suscribe {
      display: flex;
      flex-direction: column;
  
      h4 {
        padding-bottom: 2rem;
        text-align: center;
        font-size: 2rem;
      }
    }

    .container-destacados{
        display: flex;
        flex-direction: column;
    
        }
    
    .container-tienda{
        display: flex;
        flex-direction: column;
        }


.container-blogs{
    display: flex;
    flex-direction: column;
}

.contactanos{
    height: auto;
}

.datos{
    height:100vh;
}
  }

/*tablet*/

  @media (min-width: 500px) and (max-width: 767px) {
    .container-features {
      display: flex;
      flex-direction: column;
      text-align: center;
  
      .container-categories {
        display: flex;
        flex-direction: column;
      }
    }
  
    .suscribe {
      display: flex;
      flex-direction: column;
    }

    .container-destacados{
        display: flex;
        flex-direction: column;
    
        }
    
    .container-tienda{
        display: flex;
        flex-direction: column;
        }

        .container-blogs{
            display: flex;
            flex-direction: column;
        }
  }
   
  @media (min-width: 768px) and (max-width: 1024px) {

    .container-categories{
        text-align: center;
    }

    .container-products{
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }

    .content-card-product h3{
        font-size: 2.5rem;
        
    }

    .customers-img{
        display: flex;
        flex-direction: column;
        margin-top: 30px;
    }

    .container-destacados{
        display: flex;
        flex-direction: column;
    
        }
    
    .container-tienda{
        display: flex;
        flex-direction: column;
        }

        .container-blogs{
            display: flex;
            flex-direction: column;
        }
}


@media (min-width: 1025px)  {

    .customers-img{
        
        grid-template-columns: repeat(auto-fit, minmax(min(150px, 100%), 1fr));
        margin: 2rem;
    }

    .customers-text p{

        font-size: 3.5rem;
    }

    .customers{
        min-height: 30vh;
    }

    .suscribe{
        padding-right: 2rem;
    }

    .container-destacados{
        display: flex;
        flex-direction: column;
    
        }
} 

  

